.conintaer{
  position: relative;
}
.about_banner {
  padding: 4rem 0;
  background: rgba(var(--color-foreground),0.1);
}
.about_banner svg path,
.about_banner svg circle{
  fill: rgba(var(--color-foreground),0.55);
}
.about_brand {
  padding: 0;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
}
.brand_box{
  background: #fff;
  padding: 5rem;
}
.brand_box > h2{
  font-size: 4rem;
  margin: 0;
}
.brand_box > div{
  margin-top: 2rem;
  display: inline-flex;
}
.brand_box > div a{
  color: #fff;
  background-color: rgb(var(--color-foreground));
  padding: 0.9rem 3rem 1.1rem;
  font-size: 1.5rem;
  transition: transform 0.2s;
  transform: scale(1);
}
.brand_box > div a:hover{
  transform: scale(1.05);
}