.contact_form{
  max-width: 72.6rem;
  margin: 0 auto;
}
.contact_form h1{
  font-size: 5.2rem;
}
.form_row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}
.field{
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.field input,
.field textarea{
  flex-grow: 1;
  text-align: left;
  padding: 1.5rem;
  border: 1px solid transparent;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.55);
  height: 4.5rem;
  transition: box-shadow 0.1s ease;
  font-size: 1.6rem;
}
.field input:placeholder-shown::placeholder,
.field textarea:placeholder-shown::placeholder{
  color: transparent;
}
.field input:hover,
.field textarea:hover{
  box-shadow: 0 0 0 0.2rem rgba(var(--color-foreground), 0.75);
}
.field input:focus,
.field textarea:focus,
.field input:not(:placeholder-shown),
.field textarea:not(:placeholder-shown),
.field input:-webkit-autofill,
.field textarea:-webkit-autofill{
  padding: 2.2rem 1.5rem 0.8rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-foreground), 0.75);
  outline: transparent;
}
.field label{
  font-size: 1.6rem;
  left: 1.5rem;
  top: 1rem;
  margin-bottom: 0;
  pointer-events: none;
  position: absolute;
  transition: top 0.1s ease, font-size 0.1s ease;
  color: rgba(var(--color-foreground), 0.75);
  letter-spacing: 0.1rem;
  line-height: 1.5;
}
.field input:focus ~ label,
.field textarea:focus ~ label,
.field input:not(:placeholder-shown) ~ label,
.field textarea:not(:placeholder-shown) ~ label,
.field input:-webkit-autofill ~ label,
.field textarea:-webkit-autofill ~ label{
  font-size: 1rem;
  top: 0.3em;
  letter-spacing: 0.04rem;
}
.field textarea{
  min-height: 10rem;
  resize: none;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}
.send{
  margin-top: 4rem;
}
.send button{
  color: #fff;
  background-color: rgb(var(--color-foreground));
  padding: 0.9rem 4rem 1.1rem;
  transition: transform 0.2s;
  transform: scale(1);
  cursor: pointer;
  border: none;
}
.send button:hover{
  transform: scale(1.05);
}